<header class="toolbar">
  <mat-toolbar color="primary">
    <mat-icon>currency_exchange</mat-icon>
    <span class="spacer"></span>
    <button mat-raised-button class="mx-1" aria-label="EUR-USD Details Button" (click)="gotoDetailsPage('USD')">
      EUR-USD Details
    </button>
    <button mat-raised-button class="mx-1" aria-label="EUR-GBP Details Button" (click)="gotoDetailsPage('GBP')">
      EUR-GBP Details
    </button>
  </mat-toolbar>
</header>
<main>
  <router-outlet></router-outlet>
</main>