<mat-card appearance="outlined" class="w-100">
    <mat-card-header>
        <mat-card-title>History</mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content">
        <canvas baseChart class="w-75 p-2 pb-5" height="400" *ngIf="!(isLoading$ | async)"
            [type]="'line'"
            [data]="lineChartData"
            [options]="lineChartOptions"
            [legend]="lineChartLegend">
        </canvas>
    </mat-card-content>
    <mat-card-footer>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>
    </mat-card-footer>
</mat-card>